@charset "UTF-8";
/*estilo generales*/
@font-face {
  font-family: "Flux Architect Regular";
  src: url("Flux Architect Regular.ttf"); }

* {
  margin: 0;
  padding-top: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: sans-serif;
  background-image: url("imagenes/fondobody.png");
  width: 100%;
  height: 100vh; }

header {
  background-image: linear-gradient(360deg, #030303 10%, #1f1f1f 360%);
  width: 100%;
  height: 5rem;
  margin: 0;
  padding: 0;
  position: fixed;
  border-bottom: 0.1rem solid grey; }

li a {
  list-style: none;
  text-decoration: none; }

/*generales en nosotros.html con bem*/
.contenedor__header {
  grid-area: header; }

.contenedor__header__logo {
  width: 8rem;
  height: 8rem;
  float: left; }

.contenedor__header__logo:hover {
  transform: rotate(360deg);
  transition: 1s; }

/*navegador*/
#logonavegador {
  width: 8rem;
  height: 8rem;
  float: left; }

#logonavegador:hover {
  transform: rotate(360deg);
  transition: 1s; }

.navder {
  float: right;
  margin: 1rem;
  font-style: bold;
  letter-spacing: 0.06rem; }

.navder button {
  color: grey;
  font-size: 11pt !important;
  font-weight: bold;
  margin-right: 1rem;
  letter-spacing: 0.1rem; }

.navder button a {
  color: grey;
  font-size: 11pt;
  margin-right: 1rem;
  letter-spacing: 0.1rem;
  font-style: bold; }

.navder button:hover {
  color: white;
  text-decoration: none; }

.navder button a:hover {
  color: white;
  text-decoration: none; }

.dropdown-menu {
  font-size: 9pt;
  width: 23rem;
  background-color: black;
  font-style: bold; }

.dropdown-menu a {
  margin-top: 0.5rem;
  color: white;
  font-weight: bold; }

/*navegador en nosotros.html*/
.contenedor__header__nav {
  float: right;
  margin: 1rem;
  font-style: bold;
  letter-spacing: 0.06rem; }

.contenedor__header__nav__button {
  color: grey;
  font-size: 11pt !important;
  font-weight: bold;
  margin-right: 1rem;
  letter-spacing: 0.1rem; }

.contenedor__header__nav__button__a {
  color: grey;
  font-size: 11pt;
  margin-right: 1rem;
  letter-spacing: 0.1rem;
  font-style: bold; }

.contenedor__header__nav button:hover {
  color: white;
  text-decoration: none; }

.contenedor__header__nav__button a:hover {
  color: white;
  text-decoration: none; }

.contenedor__header__nav__button__dropdown a:hover {
  color: black;
  text-decoration: none; }

/*footer*/
footer {
  background-color: transparent;
  height: auto;
  color: white;
  float: right;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 8pt; }

.fotterder ul li {
  display: block;
  margin-right: 1rem;
  list-style: none; }

.fotterder ul li img {
  width: 3.5rem;
  height: 3.5rem;
  margin-bottom: 1rem; }

.contenedor__fotter__derecha__ul__li {
  display: block;
  margin-right: 1rem;
  list-style: none; }

.contenedor__fotter__derecha__ul__li__a__img {
  width: 3.5rem;
  height: 3.5rem;
  margin-bottom: 1rem; }

#titulorealizados h1 {
  font-size: 50pt;
  font-family: "Flux Architect Regular";
  text-align: left;
  text-shadow: 1px 0px 5px #666;
  color: black;
  margin-left: 2rem;
  position: relative; }

.titulo_principal {
  font-size: 50pt;
  font-family: "Flux Architect Regular";
  text-align: left;
  text-shadow: 1px 0px 5px #666;
  color: black;
  margin-left: 2rem;
  position: relative; }

.contenedor__titulo__principal {
  font-size: 50pt;
  font-family: "Flux Architect Regular";
  text-align: left;
  text-shadow: 1px 0px 5px #666;
  color: black;
  margin-left: 2rem;
  position: relative; }

.titulocontacto {
  font-size: 50pt;
  font-family: "Flux Architect Regular";
  text-align: left;
  text-shadow: 1px 0px 5px #666;
  color: black;
  margin-left: 2rem;
  position: relative; }

/*@mixin de titulos en _proyectosrealizados.html*/
#titulo_proyectss h1, #titulo_proyectss1 h1 h1 {
  padding: 2rem;
  color: white;
  font-size: 20pt;
  letter-spacing: 0.2rem; }

#titulo_proyectss1 h1 {
  color: black; }

/*anidación lista _proyectosrealizados.html*/
.contenedorpr1 ul {
  margin-left: 5%;
  margin-right: 10%;
  margin-top: 3rem;
  width: auto;
  text-align: left; }
  .contenedorpr1 ul li {
    text-decoration: none;
    list-style: none;
    margin-bottom: 3.5rem;
    padding: 1rem;
    color: grey;
    font-size: 13pt;
    letter-spacing: 0.2rem;
    border-left: 1rem grey solid; }
    .contenedorpr1 ul li a {
      color: grey; }
      .contenedorpr1 ul li a a:hover {
        color: white;
        text-decoration: none; }

/*cambiar color de texto segun fondo B/N _proyectosrealizados.html*/
.proyectoproyecto {
  width: 100%;
  padding-bottom: 3rem;
  height: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: black;
  color: white; }

.proyectoproyecto1 {
  width: 100%;
  padding-bottom: 3rem;
  height: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: white;
  color: black; }

.descripciontabla {
  font-size: 12pt;
  padding: 1rem;
  text-align: center; }

/*Index - con flexbox*/
.presentacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }

#tituloprincipal {
  font-size: 22rem;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.2rem;
  -webkit-text-stroke: 0.3rem black;
  color: white;
  text-align: center;
  position: relative;
  top: 20rem; }

#tituloprincipal2 {
  color: black;
  -webkit-text-stroke: 0.05rem white;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.3rem;
  font-size: 30pt;
  text-align: center;
  position: relative;
  top: 12.5rem; }

#subtituloprincipal {
  color: white;
  opacity: 80%;
  font-weight: bold;
  letter-spacing: 0.2rem;
  font-size: 12pt;
  font-family: "Flux Architect Regular";
  position: relative;
  top: 13.5rem;
  text-align: center; }

.grupoboton {
  text-align: center;
  position: relative;
  top: 16rem;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  opacity: 60%; }

.presentacion button {
  height: 3rem;
  width: 15rem;
  background-color: black;
  font-size: 9pt !important; }

.grupoboton button a {
  text-decoration: none;
  color: white; }

/*Proyectos - con GRID*/
#box_total {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 12% 13% 50% 20% 5%;
  grid-template-areas: "boxheader boxheader" "boxtituloprincipal boxder" "boxizq boxder" "boxboton boxder" "boxfooter boxder";
  height: 100vh; }

#area_header {
  grid-area: boxheader;
  margin: 0rem;
  background-color: black; }

#box_tituloprincipal {
  grid-area: boxtituloprincipal;
  align-items: flex-start; }

#box_izq {
  grid-area: boxizq;
  text-align: right;
  align-self: flex-start;
  margin-left: 6rem;
  margin-top: 3rem; }

.boxsaliente {
  position: relative;
  width: auto;
  right: -5rem; }

#box_izq p {
  ffont-family: 'Work Sans', sans-serif;
  letter-spacing: 0.1rem;
  font-size: 15pt;
  color: white;
  text-align: center; }

#box_der {
  grid-area: boxder;
  background: #222222;
  display: block;
  justify-content: center;
  align-content: center;
  margin-right: 10rem;
  margin-bottom: 4rem;
  border-radius: 3rem; }

.boxservicioimagen {
  text-align: center;
  bottom: 0;
  align-self: center;
  filter: grayscale(100%); }

.boxservicioimagen img {
  height: 6rem;
  width: 6rem;
  margin: 1rem; }

.boxservicionombre {
  color: grey;
  font-size: 10pt;
  padding: 1rem;
  letter-spacing: 0.2rem;
  text-align: center;
  top: 0;
  font-family: 'Work Sans', sans-serif;
  font-family: "Flux Architect Regular"; }

.boxservicios:hover .boxservicioimagen {
  filter: grayscale(0%); }

.boxservicios:hover .boxservicionombre {
  color: white; }

#box_boton {
  grid-area: boxboton;
  justify-self: center;
  align-self: center; }

.vermas {
  background-color: #212121;
  border: 0.3rem solid black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 0;
  margin-left: 3rem;
  width: 20em;
  height: 5rem;
  opacity: 60%; }

.vermas a {
  text-decoration: none;
  color: white;
  font-family: 'Work Sans', sans-serif;
  text-decoration: none; }

.vermas:hover {
  transform: scale(1.1);
  opacity: 100%; }

.vermas a:hover {
  text-decoration: none;
  color: white; }

#box_footer {
  grid-area: boxfooter; }

/*proyectos realizados - con grid y flexbox*/
#contenedor_realizados {
  display: grid;
  grid-template-rows: 15% 10% 30% 40% 5%;
  grid-template-columns: 100%;
  grid-template-areas: "header" "titulo" "acordeon" "footer";
  height: 100vh; }

#header_realizados {
  grid-area: header; }

#titulorealizados {
  grid-area: titulo; }

#contenedorproyectos {
  grid-area: acordeon; }

.row {
  width: 100%;
  margin: 0rem; }

#titulo_proyectss, #titulo_proyectss1 h1 {
  text-align: center; }

.descripciontabla_botones {
  text-align: center; }

.descripciontabla_botones img {
  display: inline-block;
  margin-right: 4rem;
  margin-top: 10rem;
  width: 6rem;
  height: 5rem; }

table {
  width: 90%;
  margin-left: 5%; }

.aspectostecnicos {
  color: grey;
  margin-top: 5rem;
  font-size: 13pt;
  text-decoration: underline;
  letter-spacing: 0.2rem;
  padding: 1rem;
  text-align: center;
  font-family: 'Work Sans', sans-serif; }

tr th {
  background: grey;
  color: white;
  font-size: 10pt;
  padding: 0.5rem;
  letter-spacing: 0.2rem;
  text-align: center;
  width: 40rem; }

tr td {
  color: white;
  text-align: center;
  font-size: 10pt;
  padding: 1rem; }

#titulo_proyectss1 {
  text-align: center; }

/*nosotros - con GRID*/
#contenedor {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15% 5% 70% 10%;
  grid-template-areas: "header" "titulo" "presentacion" "footer";
  height: 100vh; }

.contenedor__titulo {
  grid-area: titulo; }

.contenedor__main {
  grid-area: presentacion;
  margin: 1rem 6rem 1rem 6rem;
  padding: 1rem;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  height: 57rem;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
  align-items: center; }

.contenedor__main__photo {
  width: 90%; }

.contenedor__main__description {
  background: none;
  font-size: 20px;
  color: white;
  margin-left: 2rem;
  border-left: 0.2rem solid white; }

.contenedor__main__contact {
  margin-top: 5rem;
  color: black;
  font-size: 20px; }

.contenedor__main__contact__ul__li {
  list-style: none;
  display: inline;
  padding: 4rem;
  margin: 3rem;
  color: grey; }

.contenedor__main__contact__button {
  margin-top: 5rem; }

.contenedor__footer {
  grid-area: footer; }

/*contacto*/
#contenedor_contacto {
  display: grid;
  grid-template-rows: 15% 10% 70% 5%;
  grid-template-columns: 40% 60%;
  grid-template-areas: "header header" "titulocontacto formulario" "boxcontacto formulario" "footer footer";
  height: 100vh; }

.header_area {
  grid-area: header; }

.titulocontacto {
  grid-area: titulocontacto; }

.contacto {
  grid-area: boxcontacto; }

.formulario {
  grid-area: formulario; }

.footer_area {
  grid-area: footer; }

.contacto {
  font-size: 15pt;
  color: #E6E6E6;
  margin: 2rem;
  margin-top: 4rem;
  align-self: center;
  color: grey; }

.contacto li {
  list-style: none;
  margin-bottom: 1.5rem;
  font-family: 'Work Sans', sans-serif;
  margin-left: 4rem; }

.google-maps {
  margin-left: 5rem;
  margin-top: 3rem;
  opacity: 80%; }

.google-maps:hover {
  opacity: 100%; }

.formulario {
  background: black;
  border: white solid 0.1rem;
  width: 70rem;
  padding: 1rem;
  color: white;
  font-size: 13pt;
  justify-self: center; }

fieldset {
  line-height: 3rem;
  margin: 1rem;
  padding: 1rem;
  color: grey; }

#nombreformulario {
  font-weight: bold;
  color: white;
  text-align: center;
  font-family: "Flux Architect Regular";
  letter-spacing: 0.2rem;
  font-size: 18pt; }

#rangohorario {
  margin-left: 4rem; }

#botonformulario {
  margin-right: 1rem;
  margin-top: 2rem;
  width: 20rem;
  height: 3rem;
  font-size: 9pt;
  float: right;
  background-color: black;
  color: grey;
  border: 0,1rem solid white;
  font-family: 'Work Sans', sans-serif;
  text-decoration: none;
  display: inline-block; }

/*Media*/
